<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Menu</title>
</head>
<body>
 <h1>MENU TP02 :) Son 7 puntos</h1>

<ul>
    <li><a href="/calculopersona?fecha=2003-06-18">Ejercicio 1---datos de una Persona</a></li>
    <li><a href="/calcularTiempoTranscurrido?fecha1=2003-12-17&fecha2=2022-05-15">Punto 2--Calcular el tiempo transcurrido entre dos fechas</a></li>
    <li><a href="/formatearFechas?fecha1=2003-12-17&fecha2=2022-05-15">Punto 2--Mostrar fechas en formato dd/MM/yyyy</a></li>
  	<li><a href="/compararFechas?fecha1=2003-12-17&fecha2=2022-05-15">Punto 2---Comparar Fechas</a></li>
  	  	
  	<li><a href="getNombre?nombre=Leonardo&apellido= Soto">Punto 3 - Nombre del alumno</a></li>
	<li><a href="getLibretaU?libretaU=123">Punto 3 - Libreta Universitaria</a></li>
	<li><a href="calcularPromedio?">Punto 3 - Promedio</a></li>
	<li><a href="obtenerNotaMaxima?">Punto 3 - Nota mas alta</a></li>
	
    <li><a href="calculopar?num1=7">Ejercicio 4--Par o impar</a></li>
    <li><a href="inverso?texto=hola mundo!">Punto 5 - Texto Invertido</a></li>
    <li><a href="/mostrarArregloInv">Ejercicio 6--- Mostrar arreglo </a></li>
	<li><a href="/mostrarAlumnos?">Ejercicio 7---Listado de Alumnos </a></li>
</ul>
</body>
</html>